
    <div class="col s4 center-align">
        {{#each burger}} {{#unless devoured}}
        <div class="row">
            <div class="order">
                <h5>{{burger_name}}</h5>
                <form method="POST" action="/devour?_method=PUT" class="center-align">
                    <input type="hidden" name="id" value="{{id}}">
                    <button class="btn btn-small red darken-4 z-depth-3" type="submit">Devour</button>
                </form>
                <form method="POST" action="/cancel?_method=DELETE" class="center-align">
                    <input type="hidden" name="id" value="{{id}}">
                    <button class="btn btn-small red darken-4 z-depth-3" type="submit">Send back to kitchen</button>
                </form>
            </div>
        </div>
        {{/unless}} {{/each}}
    </div>

    <form method="POST" action="/order" class="col s4 center-align">
        <div class="input-field col s10 offset-s1">
            <input id="order_burger" type="text" name="burger_name">
            <label for="order_burger">Burger name</label>
        </div>
        <button class="btn btn-primary red darken-4 z-depth-3" type="submit">Order</button>
    </form>

    <div class="col s4 center-align">
        {{#each burger}} {{#if devoured}}
        <div class="row">
            <div class="order">
                <p>{{burger_name}}</p>
            </div>
        </div>
        {{/if}} {{/each}}
        <form method="POST" action="/clear?_method=DELETE" class="center-align">
            <input type="hidden" name="clear">
            <button class="btn btn-small red darken-4 z-depth-3" type="submit">Hide your shame</button>
        </form>
    </div>
